manifest {
    name        = 'dnatco-nf'
    description = 'Nucleic acid backbone conformer validation (NtC/DNATCO) and valence geometry (NA-VAL) analysis pipeline'
    author      = 'cernylab'
    version     = '1.0.0'
    nextflowVersion = '>=24.0'
}

params {
    input      = null
    outpref    = 'DNATCO'
    dnatco_bin = "${projectDir}/bin"
}

docker {
    enabled = true
    runOptions = '--security-opt label=disable'
}

process {
    withName: 'DNATCO_CLASSIFY' {
        container = 'node:22'
    }
}
